<nav>
 <ul>
    <li><a href="" class="nav__link social">FB</a></li>
    <li><a href="" class="nav__link social">IG</a></li>
    <li><a href="" class="nav__link social">Tw</a></li>
    <li><a href="" class="nav__link social">YT</a></li>
    <li><a href="" class="nav__link social">SF</a></li>
 </ul>
 <ul>
    <li><a href="{{siteUrl}}" class="nav__link social">Home</a></li>
    <li><a href="{{url('about')}}" class="nav__link">Schedule</a></li>
    <li><a href="{{url('practical')}}" class="nav__link">Practical</a></li>
    <li><a href="{{url('tickets')}}" class="nav__link">Tickets</a></li>
 </ul>
</nav>
