{% extends "_/layouts/base" %}

{% block head %}
  {{ craft.vite.script("src/js/toggleButtons.js") }}
{% endblock %}

{% block content %}

  <section class="container__schedule">
    <h1>Schedule</h1>
    <p class="schedule__intro">
      Find all the information regarding the lineup, performance timings, and additional information about this year's artists.
    </p>
    
    <section class="schedule">
      <div class="schedule__toggle">
        <button class="btn__schedule btn__saturday active__day"> Saturday</button>
        <button class="btn__schedule btn__sunday">Sunday</button>
      </div>
      <h2 class="hidden">The schedule</h2>
      <div class="stages__line"></div>

      {% set artists = craft.entries.section('artists').all() %}
      {% set mainStageSlug = 'main-stage' %}
      {% set stageZSlug = 'stage-z' %}

      <div class="wrapper__stages">
          <section class="stage stage__main" id="saturday-main">
            <h2>Main stage:</h2>
            <p class="stage__day hidden">Saturday 16.sept</p>
            {% include "_/components/stage.twig" with { stage: mainStageSlug, day: 'saturday', artists: artists } %}
          </section>

          <section class="stage stage__z" id="saturday-z">
            <h2>Stage Z:</h2>
            <p class="stage__day hidden">Saturday 16.sept</p>
            {% include "_/components/stage.twig" with { stage: stageZSlug, day: 'saturday', artists: artists } %}
          </section>

          {# Sunday #}
          <section class="stage stage__main" id="sunday-main">
            <h2>Main stage:</h2>
            <p class="stage__day hidden">Sunday 17.sept</p>
            {% include "_/components/stage.twig" with { stage: mainStageSlug, day: 'sunday', artists: artists } %}
          </section>

          <section class="stage stage__z" id="sunday-z">
            <h2>Stage Z:</h2>
            <p class="stage__day hidden">Sunday 17.sept</p>
            {% include "_/components/stage.twig" with { stage: stageZSlug, day: 'sunday', artists: artists } %}
          </section>

      </div>
      <p class="schedule__disclaimer">&#42;Please note that the schedule is subject to change. Any updates or modifications will be announced through our official festival app and on-site information boards.</p>
    </section>
  </section>
		
{% endblock %}