{% extends "_/layouts/base" %}

{% block head %}
 {{ craft.vite.script("src/js/activeLink.js" ) }}
{% endblock %}

{% block content %}
  <section class="container__tickets">
    <h2>Tickets</h2>
    
  </section>
{% endblock %}
