{% extends "_/layouts/base" %}

{% block head %}
 {{ craft.vite.script("src/js/activeLink.js" ) }}
{% endblock %}

{% block content %}
  <div class="container__tickets">
    <h1>Tickets</h1>
    <p>Sold out</p>
    <p>Unfortunately there is no waiting list available at the moment. </p>
  </div>
{% endblock %}