<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Myrkva Festival</title>
		{# <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> #}
		<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&amp;display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
		{{ craft.vite.script("src/js/app.js")}}
		{{ craft.vite.script("src/js/nav.js") }}

		{% block head %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
	</head>	
	<body>
			{% include "_/partials/nav.twig" %}
		<main>
			{% block content %}{% endblock %}
		</main>
			{% include "_/partials/footer.twig" %}
	</body>
</html>
