@import url(reset.css);
@import url(tokens.css);

/*
1.Global style
2.Typography
3.Layout
4.Keyframes/animations
5.Media queries
*/

/*=======================================
      1. Global Style
=========================================*/
html {
  scroll-behavior: smooth;
  /*  overflow-x: hidden; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
  /* overflow-x: hidden; */
  background-color: rgb(154, 185, 156);
}

/*=======================================
       2. Typography
=========================================*/
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
 */
/* @font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('../fonts/ClashDisplay-Extralight.otf') format('opentype');
  font-display: swap;
  font-style: normal;
} */

/*=======================================
       3.  Layout
=========================================*/

a {
  text-decoration: none;
  color: var(--color-white);
}

.hidden {
  display: none;
}

.white {
  color: var(--color-white);
}
.pink {
  color: var(--color-pink);
}
.yellow {
  color: var(--color-yellow);
}
.bold {
  font-weight: bold;
}
.semibold {
  font-weight: 500;
}

/* --------- nav -----------*/
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark);
  padding: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 1rem;
}

/* .nav:first-child {
  justify-content: flex-start;
}
.nav:nth-child(2) {
  justify-content: center;
}
.nav:last-child {
  justify-content: flex-end;
}  */

.nav__link {
  padding: 0 0.5rem;
}

.nav__link:hover {
  color: var(--color-pink);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn__tickets {
  background-color: var(--color-yellow);
  color: var(--color-dark);
  padding: 0.3rem 1.8rem;
  border-radius: 16px;
}

.btn__tickets:hover {
  background-color: var(--color-pink);
  color: var(--color-dark);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

/* --------- header -----------*/
header {
  /*   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-image: url('../img/header-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-color: rgb(188, 111, 111); 
}
