@import url(reset.css);
@import url(tokens.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/*
1.Global style
2.Layout
3.Keyframes/animations
4.Media Queries / Responsive
*/

/*=======================================
      1. Global Style
=========================================*/
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
  font-size: var(--font-size-s);
  background-color: var(--color-dark);
  color: var(--color-white);
}

/*=======================================
       2.  Layout
=========================================*/
.bleed {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

main,
.wrapper__non--bleed {
  max-width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.hidden,
.nav__print {
  display: none;
}

.white {
  color: var(--color-white);
}

.pink {
  color: var(--color-pink);
}

.yellow {
  color: var(--color-yellow);
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 500;
}

.btn {
  background-color: var(--color-yellow);
  color: var(--color-dark);
  padding: 0.5rem 1.9rem;
  border-radius: 16px;
  text-decoration: none;
  cursor: pointer;
}

/* --------- nav -----------*/

.fa {
  text-align: center;
  font-size: 1.5rem;
  padding-inline-end: 0.2rem;
  color: var(--color-white);
}

.fa:hover {
  color: var(--color-pink);
  transition: all 0.3s ease;
}

li > .nav__link.social {
  padding: 0rem 1.2rem 0rem 0rem;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-dark);
  padding: 1.1rem 0rem;
}

.container__nav {
  background-color: var(--color-dark);
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

li.set__active a {
  color: var(--color-pink);
  font-weight: var(--font-weight-semibold);
}

.nav__social {
  grid-column: 1/2;
  justify-self: flex-start;
}

.nav__logo {
  grid-column: 2/3;
  justify-self: center;
}

.nav:last-child {
  grid-column: 3/4;
  justify-self: flex-end;
}

.nav__link {
  padding: 0 0.7rem;
}

.nav__link:hover {
  color: var(--color-pink);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 1000;
}

.link__practical {
  margin-inline-end: 0.4rem;
}

.btn__tickets {
  background-color: var(--color-yellow);
  color: var(--color-dark);
  padding: 0.3rem 1.8rem;
  border-radius: 16px;
}

.btn__tickets:hover {
  background-color: var(--color-pink);
  color: var(--color-dark);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

/* --------- header -----------*/
header {
  background-image: url('../img/header-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12% 58% 30%;
  height: 100vh;
  width: 100%;
}

.header__title {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding-block-end: 10%;
}

.header__title,
.header__names {
  grid-row: 2/3;
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
}

.header__names {
  font-family: var(--ff-dosis);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  display: flex;
}

.header__names > p {
  padding: 0rem 1.2rem;
}

.header__location {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;
  padding-block-start: 15%;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
}

.header__ticket {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: start;
}

.header__ticket > h3 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  padding-block-end: 0.5rem;
}

.header__ticket > h2 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
  padding-block-end: 1.5rem;
}

.header__ticket > a {
  text-transform: uppercase;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semibold);
  padding: 0.4rem 2rem;
}

/*** --- countdown --- ***/

.container__countdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row: 3/4;
  grid-column: 2 / 3;
  justify-self: end;
}

.countdown {
  display: flex;
}
.countdown__title {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  padding-block-end: 1rem;
}

.countdown__days,
.countdown__hrs,
.countdown__min,
.countdown__sec {
  text-align: center;
  font-family: var(--ff-dosis);
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xs);
}

.c__colon {
  margin: 0rem 1.3rem;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
  font-family: var(--ff-dosis);
}

.c__days,
.c__hrs,
.c__min,
.c__sec,
.c__colon {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}

/* --------- INTRO -----------*/
.container__intro {
  display: flex;
  height: 100%;
  padding-block: 2rem 0rem;
}

.intro__text {
  align-self: flex-end;
  padding-inline-start: 1rem;
}

.intro__text > h2 {
  font-size: 24px;
  font-weight: var(--font-weight-medium);
  padding-block-end: 1rem;
}

.intro__text > p {
  font-weight: var(--font-weight-medium);
  line-height: 1.4;
  padding-block-end: 1rem;
}

.intro__img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  margin-inline-end: 1rem;
}

.btn__intro {
  display: block;
  max-width: 20rem;
  text-align: center;
  background-color: var(--color-dark);
  margin-block-start: 0.4rem;
  padding: 0.5rem 1.5rem;
  font-weight: var(--font-weight-semibold);
}

.btn__intro:first-of-type {
  color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}
.btn__intro:last-of-type {
  color: var(--color-pink);
  border: 1px solid var(--color-pink);
}

.btn__intro:first-of-type:hover {
  color: var(--color-dark);
  background-color: var(--color-yellow);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn__intro:last-of-type:hover {
  color: var(--color-dark);
  background-color: var(--color-pink);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

/* --------- THE LINE UP -----------*/
.container__lineup {
  padding-block: 6rem;
}

.yellow-title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--color-yellow);
  text-transform: uppercase;
}

.lineup__intro > h3 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  padding-block: 1rem;
  font-family: var(--ff-dosis);
}
.lineup__artists > a {
  display: block;
}

.lineup__artists {
  display: flex;
  flex-direction: row;
  padding: 0rem 1rem;
}

.lineup__artist {
  padding: 0rem 0.5rem;
  margin: 0 auto;
  text-align: center;
}

.lineup__artist > h3 {
  font-size: 1.625rem;
  font-weight: var(--font-weight-bold);
  padding-block: 0.5rem;
}

.lineup__artist > p,
.info__stage {
  font-size: 17px;
  font-weight: var(--font-weight-bold);
  font-family: var(--ff-dosis);
  text-transform: uppercase;
}

.artist__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.lineup__artist:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.lineup__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.btn__shedule {
  background-color: var(--color-pink);
  font-weight: var(--font-weight-semibold);
  padding-block: 0.5rem;
  max-width: 20rem;
}

.btn__shedule:hover {
  background-color: var(--color-yellow);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.diamond {
  padding-inline: 0.3rem;
}

/* --------- Detailpage -----------*/
.btn__back {
  color: var(--color-white);
  background-color: var(--color-dark);
  border: 1px solid var(--color-white);
}
.btn__back:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.container__detailpage {
  padding-block: 3% 7%;
}

.detailpage {
  display: flex;
  width: 95%;
  margin: 1.2rem auto 0rem;
}

.detailpage__info {
  height: 100%;
  padding-inline: 1.5rem;
  align-self: flex-end;
  line-height: 1.4;
}

.info__time {
  color: var(--color-yellow);
  font-family: var(--ff-dosis);
  font-weight: var(--font-weight-bold);
  font-size: clamp(23px, calc(1.4375rem + ((1vw - 3.93px) * 0.2681)), 26px);
}

.info__stage {
  padding-block: 0.75rem;
}

.info__name {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  padding-block-end: 0.5rem;
}

.info__songs {
  font-weight: var(--font-weight-bold);
  font-family: var(--ff-dosis);
}

.info__about {
  padding-block-start: 2rem;
  line-height: 1.4;
}

.detailpage__img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* --------- Our Partners -----------*/
.wrapper--partners {
  background-image: url('../img/partners-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0%;
}

.container__partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding-block: 3rem;
}

.container__partners > h2 {
  font-size: var(--font-size-h2);
  padding-block-end: 2rem;
}

.partners__logo {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 3rem 5rem;
  width: 45%;
  justify-content: center;
  gap: 1rem;
}

.partners__img {
  flex: 1 1 1;
  height: auto;
}

/* --------- FOOTER -----------*/
footer {
  height: 100%;
  padding-block: 5rem 2rem;
  background-color: var(--color-dark);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
}

.contact__list {
  line-height: 1.3;
  font-size: 16px;
  grid-column: 1/2;
}

.contact__list > li:last-child {
  padding-block-start: 0.4rem;
}

.footer__nav {
  grid-column: 2/3;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
}
.footer__nav > p {
  display: none;
}

.footer__links {
  display: flex;
  flex-direction: row;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-s);
  padding-block-end: 0.5rem;
}
.footer__links > li {
  padding-inline: 1rem;
}

.footer__nav > p {
  color: var(--color-white);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  padding-block-end: 0.4rem;
}

.footer__link:hover,
.footer__lang > p:hover {
  color: var(--color-pink);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  cursor: pointer;
}

.footer__social {
  padding-block: 0.5rem;
  display: none;
}

/*Right: CTA + lang */
.footer__apply {
  grid-column: 3/4;
  justify-self: flex-end;
  margin-block-start: 0.5rem;
  text-align: end;
  font-weight: var(--font-weight-medium);
}

.lang {
  font-weight: var(--font-weight-semibold);
  padding-block-start: 1rem;
}

.footer__lang {
  padding-block-start: 2rem;
  line-height: 1.5;
}

.lang-eng {
  color: var(--color-pink);
}

.btn__tickets:hover {
  color: var(--color-dark);
}

/* ------- Ticket page -------- */
.container__tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
}

.container__tickets > h1 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  font-family: var(--ff-monterrat);
  padding-block: 1rem;
}

.container__tickets > p:first-of-type {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  padding-block-end: 1rem;
  color: var(--color-pink);
}

/*=======================================
       4.  Media Queries / Responsive
=========================================*/

@media print {
  .container__nav,
  button,
  footer,
  .header__names,
  .header__ticket > h2,
  .header__ticket > a,
  .container__countdown,
  .footer__apply,
  .container__partners {
    display: none;
  }

  body,
  main {
    max-width: 100%;
    color: var(--color-dark);
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .nav__print {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    background-color: var(--color-dark) !important;
  }
  .nav__print > ul {
    align-self: end;
    padding-inline-start: 1rem;
  }
  .print__info {
    grid-column: 2/3;
  }

  .nav__print > .print__info > li {
    font-size: 12px;
    line-height: 1.2;
  }
  .nav__print > .print__info > li:first-of-type {
    font-size: var(--font-size: 16px);
    font-weight: bold;
  }

  p,
  .footer__contact {
    font-size: 12px;
    line-height: 1.2;
  }

  h1 {
    font-size: 18px;
  }
  h2,
  .yellow-title {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  footer {
    max-width: 100%;
    margin: 0rem;
  }

  .nav__print > .contact__list {
    font-size: 11px;
    grid-column: 3/4;
  }

  .contact__list > li:last-child {
    padding-block-start: 0rem;
  }

  /* -- header -- */
  .header,
  header {
    padding: 1.5rem 0rem 0rem 0.75rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    max-width: 100%;
  }
  .header__title {
    font-size: 20px;
    padding: 0rem;
    justify-self: start;
    align-self: start;
  }
  .header__ticket > h3 {
  }
  .header__location {
    padding-block: 0.4rem;
  }

  .container__intro {
    padding-block: 0.5rem;
  }

  .container__lineup {
    padding-block: 1.5rem;
  }
  .intro__img {
    max-width: 40%;
    height: auto;
    padding-inline-start: 1.5rem;
  }

  .intro__text > h2,
  .lineup__intro > h3 {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    font-family: var(--ff-monterrat);
  }
  .intro__text > p {
    font-size: 12px;
  }
  .intro__text > a {
    display: none;
  }

  /* -- The lineup -- */
  .container__lineup > .yellow-title {
    font-size: 16px;
    padding: 0rem 1.5rem;
    margin: 0rem;
  }
  .btn__shedule {
    display: none;
  }

  .lineup__intro > h3 {
    padding-block: 0.2rem;
  }

  .lineup__intro > h3:after {
    content: 'To see the full schedule, visit kristinhelga.be/festival/schedule';
    display: block;
    width: 100%;
    color: var(--color-pink);
    margin-block: 0.3rem 0rem;
    font-weight: var(--font-weight-medium);
  }

  .lineup__artist {
    padding: 0rem 0.5rem;
    margin: 0 auto;
    text-align: center;
  }
  .artist__img {
    max-width: 100%;
    height: auto;
  }
  .lineup__artist > h3 {
    font-size: 14px;
    color: var(--color-dark);
  }

  .lineup__artist > p {
    font-size: 12px;
    color: var(--color-pink);
  }
  .diamond {
    color: var(--color-dark);
  }
}

@media print and (orientation: landscape) {
  .intro__img {
    max-width: 28%;
  }
  .intro__text {
    max-width: 40%;
  }
  .lineup__artists {
    padding: 1rem 0rem !important;
    margin: 0rem !important;
    justify-content: flex-start;
    width: 100%;
  }

  .lineup__artist {
    max-width: 100%;
    height: auto;
    margin: 0rem 0rem 0rem 1.5rem !important;
  }
  .artist__img {
    max-width: 100%;
    max-height: 4rem;
    object-fit: cover;
  }
}

@media (prefers-reduced-motion) {
  .header__names {
    animation: none;
  }
}

@media only screen and (min-width: 1700px) {
  body {
    max-width: 80%;
    margin: 0 auto;
  }
  .container__nav {
    width: 100%;
  }
  #navbar {
    position: relative;
  }

  .footer {
    width: 100%;
  }
}

@media only screen and (max-width: 1493px) {
  .partners__logo {
    width: 60%;
  }
}

@media only screen and (max-width: 1290px) {
  .header__ticket > h2 {
    font-size: 1.5rem;
  }
  .intro__img {
    max-width: 50%;
  }
  .partners__logo {
    width: 70%;
  }
}

/* ---- Ipad Pro ---- */
@media only screen and (max-width: 1025px) and (min-height: 1365px) {
  p {
    line-height: 1.5;
  }

  header.bleed {
    height: 65vh;
  }

  .header {
    height: 100%;
  }

  .container__partners {
    padding-block: 0rem;
    height: 30vh;
  }

  /*practical page*/
  .bleed.practical__faq {
    height: 40vh;
  }

  .yellow-title {
    font-size: 1.5rem !important;
  }
}
/* ---- Ipad, ipad mini, ipad air --- */
@media only screen and (max-width: 825px) and (min-height: 750px) {
  header.bleed {
    height: 60vh;
  }
  .header {
    height: 100%;
  }
  .container__partners {
    padding-block: 0rem;
    height: 40vh;
  }
}

@media only screen and (max-width: 1098px) {
  .header__title {
    font-size: 4rem;
  }
  .header__names {
    margin-block-start: 1.6rem;
  }
  .header__names > p {
    padding: 0rem 1rem;
  }

  .lineup__artists {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .lineup__artist {
    padding: 0rem;
  }

  .lineup__artist > h3 {
    font-size: 1.4rem;
  }
  .lineup__intro > h3 {
    font-size: 1.4rem;
  }

  .partners__logo {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .header__title {
    font-size: 3.5rem;
  }

  .header__names > p {
    padding: 0rem 0.5rem;
  }

  .header__ticket > h2 {
    font-size: 1.4rem;
  }

  .c__colon {
    margin: 0rem 0.6rem;
    font-size: 1.5rem;
  }
  .c__time {
    font-size: 0.9rem;
    line-height: 1.3;
  }

  .countdown > p > span {
    font-size: 1.5rem;
  }

  .countdown__title {
    font-size: 1rem;
  }

  /* -- line up -- */
  .container__lineup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lineup__intro {
    flex-direction: column;
    align-items: center;
    margin-block: 0rem 1rem;
  }

  .lineup__intro > h3 {
    padding-block: 0rem 2rem;
  }

  .partners__logo {
    width: 90%;
  }
}

@media only screen and (max-width: 927px) {
  main {
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.4;
  }

  .nav__home {
    display: none;
  }

  .nav__link.btn__tickets {
    padding: 0.2rem 1rem;
    border-radius: 8px;
  }

  .nav__logo {
    max-width: 50%;
    height: auto;
  }
  .container__lineup {
    padding-block: 2rem 0;
  }
  .container__partners > .yellow-title {
    margin-block: 5rem 0rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 878px) {
  .header__title {
    font-size: 3rem;
  }
  .header__ticket > h3 {
    font-size: 1rem;
  }
  .header__ticket > h2 {
    font-size: 1.2rem;
  }

  /* -- Detailpage Artists -- */

  .detailpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem auto 0rem;
  }

  .info__stage {
    padding-block: 0.75rem;
  }

  .info__name {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    padding-block-end: 0.5rem;
  }
  .info__songs {
    font-weight: var(--font-weight-bold);
    font-family: var(--ff-dosis);
  }

  .info__about {
    padding-block-start: 2rem;
    line-height: 1.4;
  }

  .detailpage__img {
    padding-inline: 1.7rem;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  .detailpage__info {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .info__name {
    order: -3;
    font-size: 30px;
    padding: 1rem 0rem 0.5rem;
  }
  .info__stage {
    order: -2;
    font-size: 16px;
    padding: 0rem;
  }
  .info__time {
    order: -1;
    font-size: 20px;
  }

  .info__name,
  .info__stage,
  .info__time {
    align-self: center;
  }
  .info__songs {
    padding-block-start: 1rem;
  }
  .info__about {
    padding: 0.4rem;
  }
  .lineup__intro {
    padding: 0rem;
  }
  .lineup__intro > h3 {
    padding-block-end: 0rem;
  }
  .lineup__intro > a {
    margin-block: 1rem;
  }
  .footer {
    padding-block-end: 0rem;
  }
}

@media only screen and (max-width: 867px) {
  .nav__social {
    display: none;
  }
  .container__nav {
    display: flex;
    justify-content: space-between;
  }
  #navbar {
    border-bottom: 1px solid var(--color-white);
    padding-block: 0.7rem;
  }
  .partners__logo {
    width: 100%;
  }

  /* -- footer -- */
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer__apply {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer__apply > a {
    padding: 0.4rem 2.5rem;
    border-radius: 8px;
  }

  .footer__links.fl {
    display: none;
  }

  .footer__social {
    display: flex;
    justify-content: flex-start;
  }
  .footer__nav > p {
    display: block;
    font-family: var(--ff-monterrat);
    font-size: var(--font-size-s);
  }

  .footer__nav {
    align-items: flex-start;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
  }
}

@media only screen and (max-width: 755px) {
  .header__title {
    font-size: 2.5rem;
  }
  .header__names > p {
    padding: 0rem 0.3rem;
    font-size: var(--font-size-xs);
  }

  .header__location {
    font-size: var(--font-size-s);
  }
  .header__ticket > a {
    font-size: var(--font-size-s);
  }

  .partners__img {
    height: auto;
    width: 6rem;
  }
}

@media only screen and (max-width: 739px) {
  .lineup__artists {
    display: block;
  }
  .container__lineup {
    padding-block-end: 2rem;
  }
  .lineup__artist {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block-end: 1rem;
  }
  .artist__img {
    padding-block-start: 0.6rem;
    height: 15rem;
    width: 100%;
    grid-column: 1/3;
  }
  .lineup__artist > h3 {
    grid-column: 1/2;
    font-size: var(--font-size-m);
    justify-self: start;
  }

  .lineup__artist > p {
    grid-column: 2/3;
    align-self: center;
    justify-self: end;
  }

  .intro__img {
    display: none;
  }

  .intro__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro__text > h2,
  .intro__text > p,
  .intro__text > a {
    text-align: center;
  }

  .intro__text > h2 {
    width: 80%;
  }

  .intro__text > a {
    width: 100%;
  }

  .container__lineup {
    padding-block-end: 0rem;
  }
  .container__partners {
    height: auto;
  }
  .container__partners > .yellow-title {
    margin-block: 0rem;
  }

  footer {
    padding-block: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 0rem;
    justify-content: space-between;
    overflow-x: hidden;
  }

  .header__title {
    order: 3;
    padding-block-start: 20%;
    font-size: 30px;
    display: flex;
    flex-direction: column-reverse;
  }

  .header__year {
    align-self: flex-end;
    font-size: 40px;
  }
  .header__location {
    order: 2;
    display: none;
  }

  .header__names {
    order: 1;
    font-size: var(--font-size-s);
    display: block;
    width: 100%;
    white-space: nowrap;
    animation: loopAnimation 30s linear infinite;
  }
  @keyframes loopAnimation {
    0% {
      transform: translateX(-20%);
    }
    50% {
      transform: translateX(-80%);
    }
    100% {
      transform: translateX(-20%);
    }
  }

  .header__names > p {
    margin: 1rem 0.4rem 0rem;
    display: inline-block;
  }

  .header__ticket {
    order: 3;
    text-align: center;
  }

  .header__ticket > h2 {
    font-size: 25px;
  }
  .container__countdown {
    order: 4;
    padding: 2rem 0rem 20%;
  }

  .container__countdown > * {
    align-self: center;
  }

  .container__intro {
    width: 85%;
    margin: 0 auto;
  }

  .intro__text > h2 {
    max-width: 100%;
  }

  .intro__text > a:first-of-type {
    margin-block-start: 1rem;
  }

  /* -- countdown -- */
  .c__colon {
    margin: 0rem 1.2rem;
    font-size: 30px;
  }

  .countdown > p > span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 653px) {
  .footer {
    padding-block-start: 2.2rem;
  }
}

@media only screen and (max-width: 625px) {
  .header__names > p {
    padding: 0rem 0.3rem;
    font-size: var(--font-size-xs);
  }

  .container__partners > h2 {
    padding-block-end: 0.7rem;
  }
  .container__partners {
    height: 60vh;
    align-content: flex-start;
  }

  .footer__link.btn__tickets {
    padding-inline: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .container__lineup > .yellow-title {
    margin-block: 1rem 0rem;
  }

  .container__partners {
    padding-block: 0rem;
    height: auto;
  }
  .container__partners > .yellow-title {
    margin-block: 2rem 1rem;
  }

  footer {
    padding-block: 1rem;
  }

  .partners__logo {
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 538px) {
  .container__partners > .yellow-title {
    display: flex;
  }
  .partners__title--sm {
    display: none;
  }
}

@media only screen and (max-width: 537px) {
  main {
    width: 90%;
  }
  .container__partners {
    height: 50vh;
    margin: 0 auto;
    padding-block-end: 3rem;
  }
  .partners__logo {
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container__intro {
    width: 100%;
    margin: 0rem;
  }

  .intro__text {
    padding: 0rem;
  }

  .intro__text > h2 {
    line-height: 1.3;
    padding-inline-end: 4rem;
    width: 100%;
  }

  .intro__text > h2,
  .intro__text > p,
  .container__lineup > .yellow-title,
  .lineup__intro > h3 {
    text-align: start;
  }

  .intro__text > a {
    margin-block-end: 0.5rem;
  }
  .intro__text > p {
    line-height: 1.6;
  }
  .lineup__intro > h3 {
    font-size: 1.2rem;
  }

  /* -- Artist Lineup -- */
  .lineup__intro {
    padding-inline: 0rem;
  }

  .container__lineup > .yellow-title {
    padding: 0rem;
  }
  .lineup__intro > h3 {
    align-self: flex-start;
  }

  .container__lineup {
    padding-block-start: 3rem;
  }
  .lineup__artists {
    padding: 0rem;
  }

  .container__partners > .yellow-title {
    display: none;
  }

  .partners__title--sm {
    display: block;
    text-align: center;
    margin-block: 2rem 1rem;
    font-size: 1.8rem;
    font-weight: var(--font-weight-medium);
    font-family: var(--ff-dosis);
  }

  .partners__logo.wrapper__non--bleed {
    padding-block-end: 3rem;
  }

  .container__partners {
    padding-block: 2rem;
    height: auto;
  }

  .footer {
    padding-block: 0rem;
  }
}

@media only screen and (max-width: 520px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
  }
  .footer__apply {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }
  .footer__apply > a {
    text-align: center;
    padding: 0.5rem 6rem;
  }
  .footer__lang {
    display: flex;
    padding-block: 1rem;
  }

  .footer__lang > p {
    padding: 0rem 1rem 1rem 0rem;
  }

  .footer__nav {
    padding-block-start: 1.5rem;
  }

  .footer__social {
    padding-block-end: 1rem;
  }

  li > .nav__link.social {
    padding: 0rem 0.8rem 0rem 0rem;
  }
  .fa {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 470px) {
  .detailpage__img,
  .detailpage__info {
    width: 100%;
    padding-inline: 0rem;
  }

  .detailpage__img {
    height: 10rem;
  }

  .container__detailpage {
    padding-block: 2rem;
  }
  .detailpage {
    margin-block: 1.1rem;
  }

  .container__tickets > p:first-of-type {
    font-size: var(--font-size-h2);
    padding-block-end: 0.3rem;
  }
  .container__tickets {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 430px) {
  .img__logo {
    max-width: 55%;
    min-width: 50%;
    height: auto;
  }
  .nav__link.btn__tickets {
    padding: 0.3rem 1rem;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 410px) {
  li > .btn__tickets {
    display: block;
  }
  .lineup__artist > h3 {
    font-size: 16px;
    text-align: start;
  }
  .lineup__artist > p {
    font-size: 16px;
  }
  .artist__img {
    padding-block-start: 0.6rem;
    height: 11rem;
    width: 100%;
    grid-column: 1/3;
  }
  .img__logo {
    padding: 0rem;
    margin: 0rem;
  }
}

@media only screen and (max-width: 402px) {
  .intro__text > h2 {
    padding-inline: 0rem;
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
  }

  .intro__text > p {
    text-align: center;
  }

  .lineup__intro > h3 {
    text-align: center;
    align-self: center;
  }

  .footer {
    margin-block-start: 2rem;
  }

  .container__partners.wrapper__non--bleed {
    padding-block-end: 0rem;
  }

  .lineup__artist {
    padding: 0.1rem;
  }

  .lineup__artist > h3 {
    font-weight: var(--font-weight-semibold);
  }
}

/* -- iphone 12pro -- */
@media only screen and (max-width: 400px) and (min-height: 800px) {
  .partners__img {
    max-width: 25%;
    height: auto;
  }

  header.bleed,
  .header.wrapper__non--bleed {
    height: 80%;
  }

  .header.wrapper__non--bleed {
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }

  .header__names {
    margin-block-start: 1rem;
  }

  .container__countdown {
    margin-block-start: 0rem;
  }

  .c__colon {
    margin: 0rem 0.7rem;
  }

  .c__time {
    font-size: 0.9rem;
  }

  .c__days,
  .c__hrs,
  .c__min,
  .c__sec,
  .c__colon {
    font-weight: var(--font-weight-bold);
    font-size: 1.4rem !important;
  }
}

@media only screen and (max-width: 380px) {
  .header__year,
  .header__title {
    align-self: center;
    text-align: center;
  }
  .header__title {
    font-size: var(--font-size-h2);
    margin-block-start: 5rem;
  }

  .header__year {
    font-size: var(--font-size-m);
  }

  .header__ticket {
    margin-block: 2rem 0.5rem;
  }

  .header__ticket > h2 {
    font-size: var(--font-size-m);
  }
  .header__title {
    margin-block: 2rem 0rem;
  }

  .header.wrapper__non--bleed {
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .header__names {
    margin-block-start: 1rem;
  }

  .container__countdown {
    margin-block-start: 0rem;
  }

  .c__colon {
    margin: 0.3rem 0.8rem;
  }

  .c__time {
    font-size: 0.8rem;
  }

  .c__days,
  .c__hrs,
  .c__min,
  .c__sec,
  .c__colon {
    font-weight: var(--font-weight-bold);
    font-size: 1.3rem !important;
  }
}
