:root {
  --color-dark: #252525;
  --color-pink: #f967e1;
  --color-yellow: #f6f967;
  --color-white: #fbfbfb;
  --color-white-darker: #f0f0f0;

  --font-size-h1: 4.375rem; /*70px*/
  --font-size-h2: 2.5rem; /*40px*/
  --font-size-h3: 2.18rem; /*35px*/

  --font-size-xs: 0.87rem; /* 14px */
  --font-size-s: 1.125rem; /* 18px */
  --font-size-m: 1.25rem; /*20px*/
  --font-size-l: 1.87rem; /*30px*/

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --ff-body: 'Montserrat', sans-serif;
  --ff-dosis: 'Dosis', sans-serif;
}
