
	<div class="countdown">
		<p class="countdown__days c__time"><span class="c__days"></span><br>Days</p>
		<p class="c__colon">:</p>
		<p class="countdown__hrs c__time"><span class="c__hrs"></span><br>Hours</p>
		<p class="c__colon">:</p>
		<p class="countdown__min c__time"><span class="c__min"></span><br>Minutes</p>
	  <p class="c__colon">:</p>
		<p class="countdown__sec c__time" ><span class="c__sec"></span><br>Seconds</p>
	</div>